<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field col s12">
    <%= form.label :project_id %>
    <%=  collection_select(:task, :project_id, Project.all, :id, :description, class: "browser-default") %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "materialize-textarea" %>
  </div>



  <div class="actions">
    <%= form.submit 'Enviar', class: "waves-effect waves-light btn teal accent-4"  %>
  </div>
  <br>
  <div class="divider"></div>
  <br>
<% end %>
