<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col m6 offset-m3">
    <h2><%= @task.name %></h2>
    <p><%= @task.description %></p>
    <p>Nome do projeto: <%= @task.project.name %></p>

    <%= link_to 'Edit', edit_task_path(@task), class: "waves-effect waves-light btn teal accent-4" %> 
    <%= link_to 'Back', tasks_path , class: "waves-effect waves-light btn teal accent-4"%>
  </div>
</div>
