<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col m6 offset-m3">
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= link_to 'Ver', project %></td>
            <td><%= link_to 'Editar', edit_project_path(project) %></td>
            <td><%= link_to 'Apagar', project, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="divider"></div>
    <br>
    <%= link_to 'Novo Projeto', new_project_path, class: "waves-effect waves-light btn teal accent-4" %>
  </div>
</div>
